html, body {
      position: relative;
      height: 100%;
    }
    body {
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
	  
    }
	#slide2{
		color:#384660;
		font-family: NotoSansCJKtc-Light;
		
	}
	#slide3{
		color:#384660;
		font-family: NotoSansCJKtc-Light;
		
	}
	#slide4{
		color:#384660;
		font-family: NotoSansCJKtc-Light;
		
	}
	#slide5{
		color:#384660;
		font-family: NotoSansCJKtc-Light;
		
	}
	#slide6{
		color:#384660;
		font-family: NotoSansCJKtc-Light;
	}
	#slide2:hover{
		opacity:0.7;
	}
	#slide3:hover{
		opacity:0.7;
	}
	#slide4:hover{
		opacity:0.7;
	}
	#slide5:hover{
		opacity:0.7;
	}
	#slide6:hover{
		opacity:0.7;
	}
	#slide_2:hover{
		opacity:0.7;
	}
	#slide_3:hover{
		opacity:0.7;
	}
	#slide_4:hover{
		opacity:0.7;
	}
	#slide_5:hover{
		opacity:0.7;
	}
	#slide_6:hover{
		opacity:0.7;
	}
	#bg0{
		/*background-image: url("./main_page/_preview.jpg"); */
		/*background-color:#ffffff;*/
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.bgcolor0{
		/*background-image:url("./main_page/bgcolor_right#E5E5E5.jpg");*/
		background-repeat: no-repeat;
		/*z-index:9000;*/
		right:0;
		top:0;
	}
	#bg1{
		 background-color:#ffffff;
	}
	#photo1{
		position:absolute;
		left:27%;
		bottom:0%;
		height:70%;
		width:auto;
	}
	#bgr2{
		position:absolute;
		right:0;
		width:40%;
		height:100%;
		z-index:0;
	}
	#bg2{
		background-color:#ffffff;
	}
	#mark{
		position:absolute; 
		margin-left:2.5vw;
		margin-top:15vh;
		height:55%;
		width:auto;
	}
	#title{
		position:absolute;
		left:9%;
		top:23%;
		height:20%;
		width:auto;
	}
	#person{
		position:absolute;
		margin-left:10vw;
		margin-top:53vh;
		height:30%;
		width:auto;
	}
	#photo{
		position:absolute;
		left:35%;
		bottom:0%;
		height:82.5%;
		z-index:2;
		width:auto;
	}
	#skill{
		position:absolute;
		margin-left:70vw;
		margin-top:20vh;
		height:65%;
		width:auto;
	}
	#back{
		position:absolute;
		top:0%;
		right:40%;
		height:100%;
		width:auto;
		z-index:0;
	}
	#bg3{
		/*background-image: url("./page3/_preview.jpg");*/
		background-color:#ffffff;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	#subtitle3{
		position: absolute;
		z-index:9999;
		top:20.5%;
		left:4%;
		height:45%;
		width:auto;
	}
	#skill3{
		position: absolute;
		z-index:9999;
		top:19%;
		right:4.5%;
		height:62%;
		width:auto;
	}
	#bg_right3{
		position: absolute;
		z-index:9000;
		top:-3.5%;
		right:0%;
		height:117.5%;
		width:auto;
	}
	#photo3{
		position: absolute;
		z-index:9999;
		bottom:-3%;
		right:20%;
		height:80%;
		width:auto;
	}
	#information3{
		position: absolute;
		z-index:9999;
		top:52%;
		left:10%;
		height:25%;
		width:auto;
	}
	#title3{
		position: absolute;
		z-index:9999;
		top:25%;
		left:10%;
		height:20%;
		width:auto;
	}
	#title3:hover{
		opacity:0.7;
	}
	#bg4{
		/*background-image: url("./page4/_preview.jpg");*/
		background-color:#ffffff;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
    	#background4{
		position:absolute;
		right:-1%;
        	top: -21%;
		/*max-width:68%;*/
		height: 150%;
		width: 65%;

	}
	#skill4{
		position:absolute;
		top:20%;
		height:65%;
		left:40%;
		z-index:2;
	}
	#NCKU4{
		position:absolute;
		height:45%;
		top:22%;
		left:4%;
		top:15%;
	}
	#title4{
		position:absolute;
		top:20%;
		left:10%;
		height:18%;
	}
	#title4:hover{
		opacity:0.7;
	}
	#profile4{
		position:absolute;
		top:48%;
		left:10%;
		height:28%;
	}
	#photo4{
		position:absolute;
		bottom: -5%;
        	left: 60%;
        	width: 26%;
	}
	#bg5{
		background-color:#ffffff;
	}
	#bgimg_r{
		position:absolute;
		right:0%;
		/*max-width:68%;*/
		height:100%;
		width:auto;

	}
	#skill_img{
		position:absolute;
		top:12%;
		height:60%;
		right:40%;
		z-index:2;
	}
	#NCKU{
		position:absolute;
		height:45%;
		top:22%;
		left:4%;
		top:15%;
	}
	#title{
		position:absolute;
		top:20%;
		left:10%;
		height:18%;
	}
	#title:hover{
		opacity:0.7;
	}
	#profile{
		position:absolute;
		top:48%;
		left:10%;
		height:28%;
	}
	#pic5{
		position:absolute;
		bottom:0;
		right:2%;
		height:65%;
	}
	#aboutus{
		position: absolute;
		top: 3.5%;
		left: 3%;
		height:5%;
		width:auto;
		z-index:9999;
	}
	#aboutus:hover{
		opacity:0.7;
	}
	#search{
		position: absolute;
		top: 2%;
		right: 3.5%;
		height:4%;
		width:auto;
		z-index:9999;
	}
	#search:hover{
		opacity:0.7;
	}
	#menu{
		position: absolute;
		top: 2%;
		right: 1%;
		height:3.5%;
		width:auto;
		z-index:9999;
	}
	#menu:hover{
		opacity:0.7;
	}
	.swiper-button-prev{
		background-repeat: no-repeat;
		background-size: 4% 4%;
		top: 96.7%;
		left: 2%;
	}
	.swiper-button-prev:hover{
		opacity:0.7;
	}
	.swiper-button-next{
		background-repeat: no-repeat;
		background-size: 4% 4%;
		top: 96.7%;
		right: 0.5%;
	}
	.swiper-button-next:hover{
		opacity:0.7;
	}
@font-face{
    font-family:NotoSansCJKtc-Light;
    src: url(./text/NotoSansCJKtc-Light.otf) format("opentype");
}
@keyframes bounceInLeft {
        from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;transform: translate3d(-3000px, 0, 0);}
        60% {opacity: 1;transform: translate3d(25px, 0, 0);}
        75% {transform: translate3d(-10px, 0, 0);}
        90% {transform: translate3d(5px, 0, 0);}
        100% {opacity: 1;transform: none;}
  }